@model IEnumerable<Disquera_PrograIV.Models.Genero>

@{
    ViewBag.Title = "Index";
}

<h2>Generos</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else if (Request.IsAuthenticated && User.IsInRole("Ejecutivo"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gen_nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gen_nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gen_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.gen_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gen_id }) |
            @Html.ActionLink("Ver Discos ", "dis_generos", new { id = item.gen_id })
        </td>
    </tr>
}

</table>
