@model IEnumerable<Disquera_PrograIV.Models.Disco>

@{
    ViewBag.Title = "Index";
}

<br/>
<h2>Discos</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>}
else if (Request.IsAuthenticated && User.IsInRole("Ejecutivo"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dis_alb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dis_val)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Autor.aut_nom)*@
            Autor / Grupo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.gen_nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dis_alb)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.dis_val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.aut_nom) @Html.DisplayFor(modelItem => item.Autor.aut_ape)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.Genero.gen_nom)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                @Html.ActionLink("Editar", "Edit", new { id = item.dis_id })
                @Html.ActionLink(" Detalle", "Details", new { id = item.dis_id })
                @Html.ActionLink(" Eliminar", "Delete", new { id = item.dis_id })
            }
            else if (Request.IsAuthenticated && User.IsInRole("Ejecutivo"))
            {
                @Html.ActionLink("Detalles Disco", "canciones", new { id = item.dis_id })
            }
            else if (Request.IsAuthenticated && User.IsInRole("Cliente"))
            {
              
                @Html.ActionLink("Ver Canciones", "canciones", new { id = item.dis_id })
                @*@Html.ActionLink("Detalle", "Details", new { id = item.dis_id })*@
                @Html.ActionLink(" Comprar", "#", new { onclick = "cargar_carrocompras(" + @item.dis_id+",'"+ @ViewBag.rut+ "')" }, new { data_toggle = "modal", data_target = "#myModal" })
                <a href="#" onclick="cargar_carrocompras(@item.dis_id,'@ViewBag.rut')" data-toggle = "modal", data-target = "#myModal">Comprar</a>
            }
        </td>
    </tr>
}

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Producto al Carro</h4>
            </div>
            <div class="modal-body">




                <form>
                    <div class="form-group">
                        <label for="dis_alb">Producto</label>
                        <input type="text" class="form-control" id="dis_alb" disabled>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <select class="form-control" id="cantidad">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>