@model IEnumerable<Disquera_PrograIV.Models.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("Cliente"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ven_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ven_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ven_autorizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ven_tot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.usu_nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.usu_nom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ven_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ven_date)
            </td>
            @if (item.ven_autorizada == 1)
            {
                <td>Autorizada</td>
            }
            else if (item.ven_autorizada == 2)
            {
                <td>
                    Rechazada
                </td>
            }
            else
            {
                <td>
                    Pendiente
                </td>
            }
            <td>
                $@Html.DisplayFor(modelItem => item.ven_tot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.usu_nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1.usu_nom)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ven_id })*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.ven_id })*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ven_id })*@
                    @Html.ActionLink("Autorizar | ", "venta_eje", new { id = item.ven_id })
                    @Html.ActionLink("Rechazar | ", "venta_eje", new { id = item.ven_id })
                    @Html.ActionLink("Detalle Compra", "venta_eje", new { id = item.ven_id })
                }
                else if (User.IsInRole("Ejecutivo"))
                {
                    if (item.ven_autorizada != 1 && item.ven_autorizada != 2)
                    {
                        @Html.ActionLink("Autorizar | ", "autorizar_rechazar", new { ven_id = item.ven_id, ven_date = item.ven_date, ven_autorizada = 1, ven_tot = item.ven_tot, usu_rut_eje = ViewBag.rut, usu_rut_cli = item.usu_rut_cli })
                        @Html.ActionLink("Rechazar | ", "autorizar_rechazar", new { ven_id = item.ven_id, ven_date = item.ven_date, ven_autorizada = 2, ven_tot = item.ven_tot, usu_rut_eje = ViewBag.rut, usu_rut_cli = item.usu_rut_cli })
                    }

                    @Html.ActionLink("Detalle Compra", "venta_eje", new { id = item.ven_id })
                }
                else
                {
                    @Html.ActionLink("Detalles Compra", "Index", "DiscoVentas", new { id = item.ven_id })
                }
            </td>
        </tr>
    }

</table>
