<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disquera</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Disquera", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                    else if (Request.IsAuthenticated && User.IsInRole("Ejecutivo"))
                    {
                        <li>@Html.ActionLink("Discos", "Index", "Discoes")</li>
                        <li>@Html.ActionLink("Autores", "Index", "Autors")</li>
                        <li>@Html.ActionLink("Generos", "Index", "Generoes")</li>
                        <li>@Html.ActionLink("Ventas", "Index", "Ventas")</li>

                    }
                    else if (Request.IsAuthenticated && User.IsInRole("Cliente"))
                    {
                    <li>@Html.ActionLink("Autores", "Index", "Autors")</li>
                    <li>@Html.ActionLink("Generos", "Index", "Generoes")</li>
                        @*<li>@Html.ActionLink("Discos", "Index", "Discos")</li>*@
                        <li>@Html.ActionLink("Compras", "yo_compro", "Ventas")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                    }
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Disquera</p>
        </footer>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModalCarroCompras" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabelCarroCompras">Carro de compras</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="mi_carro_compras"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Mas
                        tarde
                    </button>
                    <button type="button" class="btn btn-primary"
                            onclick="comprar_carrocompras()">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
